{% extends 'base.html' %}
{% block content %}

<div class="login-card">
    <h2>Patient Signup</h2>
    <p>Create a patient account using mobile number or email</p>

    {% if messages %}
        {% for message in messages %}
            <p style="color:green;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if form.errors %}
        <p style="color:red;">{{ form.errors }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <label>Username</label>
        {{ form.username }}

        <label>Mobile number or Email</label>
        {{ form.contact }}

        <!-- IMPORTANT -->
        <button type="submit">Send OTP</button>
    </form>

    <p style="margin-top:10px;">
        Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </p>
</div>

{% endblock %}
